h1{
    color: #830b0b;
    border: 10px solid rgb(114, 56, 88);
    border-radius: 15px;
    align-content: center;
    justify-content: space-evenly;
    background-color: rgb(151, 113, 125);
}
.instruction{
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
}
.menu{
    display: flex;
    background-color: rgb(117, 54, 109);
    border-color: rgb(2, 45, 48);
    border-radius: 10px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
    justify-content: space-around;
    justify-content: left;
}
.menu a{
    padding : 10px;
    color: lavender;
}
body{
    background-color: rgb(153, 120, 128);
}
.grid{
    display: flex;
    border: black;
    margin
    justify-content: space-around;
}

item{
    padding: 10px;
    margin: 10px; 
}

.grid a{
    padding: 40px;
    margin: 40px;
    justify-content: space-around;
}

.header h1{
    display: flex;
    padding-right: 100px;
    justify-content: space-evenly;
}

.grid img{
    border: 3px solid ;
    border-color:rgb(133, 12, 123) ;
    border-inline-color: blue;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    margin-left: 630px;
    justify-content: space-around;
}